.HotelDevelopWrap {text-align: center;word-break: keep-all;}
.HotelDevelopWrap img{max-width: 100%;}
.SubControl{display: block;width: 100%;}
.HotelDevelopInfo{padding: 0 15px;}
.HotelDevelopInfo_02{padding-bottom: 60px;}
.HotelDevelopMap{width: 100%;background: #f7f7f7;}
.OurBrands{padding: 0 15px 60px;}
.OurBrands dl{padding-bottom: 40px;}
.ShillaSwiper{padding: 30px 15px 60px;}
.ShillaSwiper-inner-01 dt, .ShillaSwiper-inner-02 dl:nth-of-type(1) dt{padding-bottom: 0;}
.ShillaSwiper-inner-01{padding-bottom: 40px;}
.ShillaSwiper-inner-02 dl:nth-of-type(2){padding-bottom: 40px;}
.ShillaSwiper-inner-02 dt:nth-of-type(2){padding-bottom: 20px;}
.IntroSwiper .IntroWrap .Intro{display: flex;align-items: center;justify-content: space-between;gap: 10px;}
.LocationsTable{width: 345px;margin: 0 auto;text-align: center;}
.LocationsTable table{border-spacing: 0;}
.LocationsTable img{width: 18px;}
.LocationsTable .board_list thead tr{line-height: 22.45px;letter-spacing: -0.18px;color: rgb(119, 119, 119);border-bottom: 5.3px solid rgb(229, 229, 229);padding-bottom: 20px;}
.LocationsTable .board_list tbody th{height: 100px;padding: 20px 10px;background: #f9f9f9;line-height: 19.87px;letter-spacing: -0.37px;color: rgb(69, 69, 69);text-align: left;}
.LocationsTable .board_list td, .LocationsTable .board_list th{width: 81px;border-bottom: 1px solid #ddd;word-break: keep-all;font-weight: 500;font-size: 12.5px;text-align: center;}
.LocationsTable .board_list thead th{padding-bottom: 10px;border-bottom: 3px solid rgb(229, 229, 229);}
.BrandGuidelines dl{padding-bottom: 40px;}
.HotelShillaList{padding: 0 15px 60px;background: rgb(241, 234, 215);}
.HotelShillaList dl{padding-bottom: 40px;}
.HotelShillaListCon ul{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;gap: 4.2% 3.3%;width: 345px;height: 210px;margin: 0 auto;}
.HotelShillaListCon ul li{display: flex;align-items: center;justify-content: center;width: 31%;height: 48.35%;background: #fff;font-size: 16px;letter-spacing: -0.4px;font-weight: bold;}
.HotelShillaList dt, .Growth dt{line-height: 24px;}
.Project{padding: 0 15px;}
.Project dl{padding-bottom: 40px;}
.ProjectCon ul{display: flex;justify-content: space-around;align-items: center;width: 345px;height: 67px;margin: 0 auto;border-top: 1.3px solid rgb(234, 234, 234);border-bottom: 1.3px solid rgb(234, 234, 234);}
.ProjectCon ul li{position: relative;margin-left: 30px;padding: 0 30px 0 10px;font-size: 16px;letter-spacing: -0.4px;font-weight: bold;}
.ProjectCon ul li::before{content: '';position: absolute;top: 50%;left: 0;width: 5px;height: 5px;transform: translateY(-50%);margin-right: 10px;background: #454545;}
.ProjectCon ul li::after{content: '';position: absolute;top: 0;right: 0;transform: translateX(-50%);width: 1.3px;height: 20px;background: rgb(234, 234, 234);}
.ProjectCon ul li:nth-child(3):after{display: none;}
.Growth{padding: 0 15px 40px;}
.sub_tit{padding: 60px 0 15px;font-size: 20px;font-weight: bold;line-height: 15px;color: rgb(34, 34, 34);letter-spacing: -0.4px;word-spacing: -0.6px;}
.sub_txt{font-size: 16px;line-height: 24px;letter-spacing:-0.6px;word-spacing: 0.6px;color: rgb(102, 102, 102);}
.sub_txt.desc{padding: 10px 0;color: rgb(153, 153, 153);}
.IntroSwiper .swiper-container{height: fit-content;padding-bottom: 30px;}
.IntroSwiper .swiper-pagination {bottom: 0;font-size: 14px;color: #999;line-height: 1;}
.IntroSwiper .swiper-pagination-current{color: #101010;}
.IntroSwiper .swiper-pagination-total{color: #999;}
.IntroSwiper .IntroWrap .IntroTab{display: none;}
.IntroSwiper .IntroWrap .IntroTab.on{display: block;}
.IntroSwiper .IntroWrap .Intro li a{display: flex;align-items: center;justify-content: center;text-decoration: none;padding:0;font-weight: 600;line-height: 1.1;}
.IntroSwiper .IntroWrap .Intro li.on  a{color: rgb(123, 100, 78);border-bottom: 2px solid #83766e;}
.IntroSwiper .swiper-button-prev{left: 0;top: 45%;width: 30px;height: 55px !important;background: url(https://www.shilla.net/images/ko/jeju/main/gao_left_arrow.png) no-repeat;background-size: 30px 55px;}
.IntroSwiper .swiper-button-next{right: 0;top: 45%;width: 30px;height: 55px !important;background: url(https://www.shilla.net/images/ko/jeju/main/gao_right_arrow.png) no-repeat;background-size: 30px 55px;}
.swiper-rtl .swiper-button-prev,
.IntroSwiper .swiper-button-prev:after,
.IntroSwiper .swiper-button-next:after{display: none;}
.HotelDevelopWrap .confirmBox{padding: 0 15px 100px;}


