.HotelDevelopWrap {text-align: center;word-break: keep-all;}
.HotelDevelopWrap img{max-width: 100%;}
.SubControl{display: block;width: 100%;}
.HotelDevelopInfo{padding: 0 15px;}
.HotelDevelopInfo_02{padding-bottom: 60px;}
.HotelDevelopMap{width: 100%;background: #f7f7f7;}
.OurBrands{padding: 0 15px 60px;}
.OurBrands dl{padding-bottom: 40px;}
.ShillaSwiper{padding: 30px 15px 60px;}
.ShillaSwiper-inner-01 dt, .ShillaSwiper-inner-02 dl:nth-of-type(1) dt{padding-bottom: 0;}
.ShillaSwiper-inner-01{padding-bottom: 40px;}
.ShillaSwiper-inner-02 dl:nth-of-type(2){padding-bottom: 40px;}
.ShillaSwiper-inner-02 dt:nth-of-type(2){padding-bottom: 20px;}

.LocationsTable{width: 345px;margin: 0 auto;text-align: center;}
.LocationsTable table{border-spacing: 0;}
.LocationsTable img{width: 18px;}
.LocationsTable .board_list thead tr{line-height: 22.45px;letter-spacing: -0.18px;color: rgb(119, 119, 119);border-bottom: 5.3px solid rgb(229, 229, 229);padding-bottom: 20px;}
.LocationsTable .board_list tbody th{height: 100px;padding: 20px 10px;background: #f9f9f9;line-height: 19.87px;letter-spacing: -0.37px;color: rgb(69, 69, 69);text-align: left;}
.LocationsTable .board_list td, .LocationsTable .board_list th{width: 81px;border-bottom: 1px solid #ddd;word-break: keep-all;font-weight: 500;font-size: 12.5px;text-align: center;}
.LocationsTable .board_list thead th{padding-bottom: 10px;border-bottom: 3px solid rgb(229, 229, 229);}
.BrandGuidelines dl{padding-bottom: 40px;}
.HotelShillaList{padding: 0 15px 60px;background: rgb(241, 234, 215);}
.HotelShillaList dl{padding-bottom: 40px;}
.HotelShillaListCon ul{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;gap: 4.2% 3.3%;width: 345px;height: 210px;margin: 0 auto;}
.HotelShillaListCon ul li{display: flex;align-items: center;justify-content: center;width: 31%;height: 48.35%;background: #fff;font-size: 16px;letter-spacing: -0.4px;font-weight: bold;}
.HotelShillaList dt, .Growth dt{line-height: 24px;}
.Project{padding: 0 15px;}
.Project dl{padding-bottom: 40px;}
.ProjectCon ul{
    /* display: flex;justify-content: space-around;align-items: center;width: 345px;
    height: 67px;margin: 0 auto;border-top: 1.3px solid rgb(234, 234, 234);
    border-bottom: 1.3px solid rgb(234, 234, 234); */
    display: flex;
    align-items: center;
    max-width: 345px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-top: 1.3px solid rgb(234, 234, 234);
    border-bottom: 1.3px solid rgb(234, 234, 234);
    justify-content: center;
}
.ProjectCon ul li{
    /* position: relative;margin-left: 30px;padding: 0 30px 0 10px;
    font-size: 16px;letter-spacing: -0.4px;font-weight: bold; */
    position: relative;
    margin: 5% 0;
    padding: 0 10%;
    font-weight: bold;
    flex: 1 1 auto;
    /* overflow: inherit; */
}
/* .ProjectCon ul li::before{content: '';position: absolute;top: 50%;left: 0;width: 5px;height: 5px;transform: translateY(-50%);margin-right: 10px;background: #454545;} */
.ProjectCon ul li::after{
    /* content: '';position: absolute;
    top: 0;right: 0;transform: translateX(-50%);
    width: 1.3px;height: 20px;background: rgb(234, 234, 234); */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1.3px;
    height: 20px;
    background: rgb(234, 234, 234);
}
.ProjectCon ul li:nth-child(3):after{display: none;}
.Growth{padding: 0 15px 40px;}
.sub_tit{
    padding: 60px 0 15px;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #222222;
    text-align: center;
}
.sub_txt{
    line-height: 22px;
    color: #222222;
    text-align: center;
    word-break: keep-all;
}
.sub_txt.desc{padding: 10px 0;color: rgb(153, 153, 153);}
.IntroSwiper .swiper-container{height: fit-content;padding-bottom: 30px;}
.IntroSwiper .swiper-pagination {bottom: 0;font-size: 14px;color: #999;line-height: 1;}
.IntroSwiper .swiper-pagination-current{color: #101010;}
.IntroSwiper .swiper-pagination-total{color: #999;}
.IntroSwiper .IntroWrap .IntroTab{display: none;}
.IntroSwiper .IntroWrap .IntroTab.on{display: block;}
.IntroSwiper .IntroWrap .Intro{
    display: flex;
    gap: 15px;
    /* height: auto; */

}
.IntroSwiper .IntroWrap .Intro li{
    /* width: 25%; */
    width: fit-content !important;
    flex-shrink: 0;
}

.IntroSwiper .IntroWrap .Intro li.on a{
    display: inline-block;
}
/* .IntroSwiper .IntroWrap .Intro li a{font-size: 15px;display: flex;align-items: center;justify-content: center;text-decoration: none;padding:0;font-weight: 600;line-height: 1.1;} */
/* .IntroSwiper .IntroWrap .Intro li.on  a{color: rgb(123, 100, 78);border-bottom: 2px solid #83766e;} */
.IntroSwiper .swiper-button-prev{left: 0;top: 45%;width: 30px;height: 55px !important;background: url(https://www.shilla.net/images/ko/jeju/main/gao_left_arrow.png) no-repeat;background-size: 30px 55px;}
.IntroSwiper .swiper-button-next{right: 0;top: 45%;width: 30px;height: 55px !important;background: url(https://www.shilla.net/images/ko/jeju/main/gao_right_arrow.png) no-repeat;background-size: 30px 55px;}
.swiper-rtl .swiper-button-prev,
.IntroSwiper .swiper-button-prev:after,
.IntroSwiper .swiper-button-next:after{display: none;}
.HotelDevelopWrap .Newclearfix{
    padding: 0 5% 100px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    width: 90%;
}
.Newclearfix input.fl, .Newclearfix input.fr{
    width: 50%;
}

.Newclearfix:after{
    display: none;
}
.totalMenu {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}
.totalMenu .tabType1{
    width: 100%;
    /* overflow: auto; */
    height: fit-content;
}

.totalMenu.scrollbar .tabType1 .Intro{
    overflow-x: scroll;
    overflow-y: hidden;
    border-bottom:none;
}
/* .scrollbar .tabType1 .Intro{-ms-overflow-style:none; }
.scrollbar .tabType1 .Intro::-webkit-scrollbar { display:none; } */

.scrollbar .tabType1 .Intro {
    /* width: 200px; 
    height: 200px;
    background-color:skyblue; */
    overflow-y: scroll;

    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.scrollbar .tabType1 .Intro::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
.ctnMain .ctnMOffers{
    padding-bottom: 0;
}
.ctnMain .ctnMOffers .swiper-container{
    height: fit-content;
}

.ctnMain .ctnMOffers .swiper-slide{
    border:0;
    margin-bottom: 0;
}
.IntroSwiper .swiper-container{
    padding-bottom: 0px;
}