.m5p{margin: 0 5% !important;}
.p0{margin: 0 30px !important;}
.pb20{padding-bottom: 20px !important;}
.pb25{padding-bottom: 25px !important;}
.pb40{padding-bottom: 40px !important;}
.lh24{line-height: 24px !important;}
.pt50{padding-top: 50px !important;}

.new-mo {text-align: center;}
.new-mo img{width: 100%;margin: 0 auto;}
.txt_box{padding-bottom:40px;}
.txt_box dt{padding: 60px 0 15px;font-size: 20px;font-weight: bold;line-height: 15px;color: rgb(34, 34, 34);letter-spacing: -0.4px;word-spacing: -0.6px;}
.txt_box dd.desc{padding: 10px 0;color: rgb(153, 153, 153);}
.txt_box dd{font-size: 16px;line-height: 24px;letter-spacing:-0.6px;word-spacing: 0.6px;color: rgb(102, 102, 102);}
.intro-tab .txt_box dt{padding-bottom: 0;}
.bar_con::before{content: '';background: url(./images/ko/hub/sub/new_mo/bar.jpg) center no-repeat;;width: 100%;height: 14px;position: absolute;top: 0;left: 0;}
.bar_con{position: relative;margin-top: 60px;padding-top: 50px;}
.intro_swiper.mo .swiper-container{height: fit-content;margin: 0 5%;padding-bottom: 25px;}
.intro_swiper.mo .swiper-pagination {bottom: 0;font-size: 14px;color: #999;line-height: 1;}
.intro_swiper.mo .swiper-pagination-current{color: #101010;}
.intro_swiper.mo .swiper-pagination-total{color: #999;}
.intro_swiper.mo .intro_wrap .intro{display: flex;align-items: center;justify-content: space-around;width: 100%;margin: 0 auto;padding: 0px;list-style: none;overflow: hidden;position: absolute;background: #fff;border: 0;}
.intro_swiper.mo .intro_wrap .intro-tab{display: none;}
.intro_swiper.mo .intro_wrap .intro-tab.on{display: block;}
.intro_swiper.mo .intro_wrap .intro li a{display: flex;align-items: center;justify-content: center;text-decoration: none;padding:0;font-weight: 600;line-height: 1.1;}
.intro_swiper.mo .intro_wrap .intro li.on  a{color: rgb(123, 100, 78);border-bottom: 2px solid #83766e;}
.intro_swiper.mo .swiper-button-prev{left: 0;width: 30px;height: 55px !important;background: url(https://www.shilla.net/images/ko/jeju/main/gao_left_arrow.png) no-repeat;background-size: 30px 55px;}
.intro_swiper.mo .swiper-button-next{right: 0;width: 30px;height: 55px !important;background: url(https://www.shilla.net/images/ko/jeju/main/gao_right_arrow.png) no-repeat;background-size: 30px 55px;}
.swiper-rtl .swiper-button-prev,
.intro_swiper.mo .swiper-button-prev:after,
.intro_swiper.mo .swiper-button-next:after{display: none;}
.bar_con.beige{padding-top: 0;padding-bottom: 60px;background: rgb(241, 234, 215);}
.new-mo .confirmBox{padding: 0 15px 100px;}







