.HotelDevelopWrap {text-align: center;word-break: keep-all;}
.HotelDevelopWrap img{max-width: 100%;}
.SubControl{display: block;width: 100%;}
.HotelDevelopInfo{padding: 0 15px;}
.HotelDevelopInfo_02{padding-bottom: 30px;}
.HotelDevelopMap{width: 100%;background: #f7f7f7;}
.OurBrands{padding: 0 15px 30px;}
.OurBrands dl{padding-bottom: 30px;}
.ShillaSwiper{position: relative;padding: 15px 0 30px;}
.ShillaSwiper-inner-01 dt, .ShillaSwiper-inner-02 .sub_tit.pb0 {padding-bottom: 0;}
.ShillaSwiper-inner-01{padding: 0 15px 30px;}
.ShillaSwiper-inner-02 > dl{padding: 0 15px;}
.BrandGuidelines{padding: 0 15px;}
.ShillaSwiper-inner-02 dt:nth-of-type(2){padding-bottom: 20px;}
.LocationsTable{margin: 0 auto;padding: 30px 15px 0;text-align: center;}
.LocationsTable table{width: 100%;border-spacing: 0;}
.LocationsTable img{width: 18px;}
.LocationsTable .board_list thead tr{line-height: 22.45px;letter-spacing: -0.18px;color: rgb(119, 119, 119);border-bottom: 5.3px solid rgb(229, 229, 229);padding-bottom: 20px;}
.LocationsTable .board_list tbody th{height: 60px;padding: 20px 10px;background: #f9f9f9;letter-spacing: -0.37px;color: rgb(69, 69, 69);text-align: left;}
.LocationsTable .board_list td, .LocationsTable .board_list th{width: 81px;border-bottom: 1px solid #ddd;word-break: keep-all;font-weight: 500;font-size: 12.5px;text-align: center;}
.LocationsTable .board_list thead th{padding-bottom: 10px;border-bottom: 3px solid rgb(229, 229, 229);}
.LocationsTable .board_list tr.last th, .LocationsTable .board_list tr.last td{border-bottom: 3px solid rgb(229, 229, 229);}
.BrandGuidelines > img {padding-top: 30px;}
.HotelShillaList{padding: 0 15px 30px;background: rgb(241, 234, 215);}
.HotelShillaList dl{padding-bottom: 30px;}
.HotelShillaListCon {display:flex; gap:10px; align-items: center; justify-content: center; width: 100%;flex-wrap: wrap;}
.HotelShillaListCon .square {position: relative; width: 30%; padding-bottom: 30%; background: #fff;} 
.HotelShillaListCon .square .content {position: absolute; top: 0; right: 0; bottom: 0; left: 0; font-weight: bold; margin: auto; height: 22px; text-align: center;}
.HotelShillaList dt, .Growth dt{line-height: 24px;}
.Project{padding: 0 15px;}
.Project dl{padding-bottom: 30px;}
.ProjectCon ul{display: flex;justify-content: center;align-items: center;max-width: 290px;width: 100%;height: auto;margin: 0 auto;border-top: 1.3px solid rgb(234, 234, 234);border-bottom: 1.3px solid rgb(234, 234, 234);}
.ProjectCon ul li{position: relative;margin: 26px 0;padding: 0 17px;font-weight: bold;}
.ProjectCon ul li::after{content: '';position: absolute;top: 50%;transform: translateY(-50%);right: 0;width: 1.3px;height: 15px;background: rgb(234, 234, 234);}
.ProjectCon ul li:nth-child(3):after{display: none;}
.Growth{padding: 0 15px;}
.sub_tit{padding: 30px 0 15px;font-weight: bold;font-size: 15px;line-height: 22px;color: #222222;text-align: center;}
.sub_txt{line-height: 22px;color: #222222;text-align: center;word-break: keep-all;}
.sub_txt.desc{padding: 10px 0;color: rgb(153, 153, 153);}
.IntroSwiper .IntroTabContainer.swiper-container{height: fit-content;padding-bottom: 30px;margin: 0 15px;}
.IntroSwiper .swiper-pagination {bottom: 0;font-size: 14px;color: #999;line-height: 1;}
.IntroSwiper .swiper-pagination-current{color: #101010;}
.IntroSwiper .swiper-pagination-total{color: #999;}
.IntroSwiper .IntroWrap .IntroTab{display: none;}
.IntroSwiper .IntroWrap .IntroTab.on{display: block;}
.IntroSwiper .swiper-button-prev{left: 0;top: 40%;width: 30px;height: 55px !important;background: url(https://www.shilla.net/images/ko/jeju/main/gao_left_arrow.png) no-repeat;background-size: 30px 55px;}
.IntroSwiper .swiper-button-next{right: 0;top: 40%;width: 30px;height: 55px !important;background: url(https://www.shilla.net/images/ko/jeju/main/gao_right_arrow.png) no-repeat;background-size: 30px 55px;}
.HotelDevelopWrap .Newclearfix{padding: 30px 5%;display: flex;justify-content: center;column-gap: 10px;}
.Newclearfix:after{display: none;}
.IntrototalMenu .IntrotabType1 .Intro::-webkit-scrollbar {display: none;}
.IntrototalMenu{border-bottom: 1px solid #e6e6e6;}
.IntrototalMenu .IntrotabType1{width: 100%;height: 41px;box-sizing: border-box;}
.IntrotabType1 .Intro{height: 41px;padding: 0;display: flex;justify-content: flex-start;align-items: flex-start;width: auto;overflow-x: auto;overflow-y: hidden;border: 0;}
.IntrotabType1 .Intro li:first-child {padding-left: 17px;}
.IntrotabType1 .Intro li {white-space: nowrap;display: inline-block;width: auto;padding-right: 17px;}
.IntrotabType1 .Intro li.on a {color: #222;font-weight: bold !important;;}
.IntrotabType1 .Intro li a {height: 41px;display: block;position: relative;font-weight: normal !important;;line-height: 40px;font-size: 15px;font-weight: bold;text-align: center;color: #999;}
.IntrotabType1 .Intro li.on a::after{content: '';position: absolute;left: 0;bottom: 0;width: 100%;height: 2px;background: #222;}
