/* 센터정렬 */
.contain.HotelDevelop{padding-top: 0;}
.SubVisual{overflow: hidden;position: relative;height: 650px;}
.SubControl{position: relative;left: 50%;margin: 0 0 0 -960px;width: 1920px;}
.HotelDevelopInfo, .OurBrands, .ShillaSwiper, .MapTab, .HotelShilla, .Project, .HotelDevelopBtn, .Growth, .HotelDevelopBtn{position: relative;;margin:0 auto;text-align: center;}
/* 구간별 여백 정리 */
.HotelDevelopInfo{margin: 80px 0 50px;}
.HotelDevelopInfo .Hospitality{margin: 80px 0;}
.HotelDevelopInfo .Global{margin: 80px 0 50px;}
.HotelDevelopMap{width: 100%;margin: 50px 0 80px;padding-top: 40px;background: #f7f7f7;}
.OurBrands{margin: 80px 0;}
.ShillaSwiper-inner-01{margin: 80px 0 50px;}
.ShillaSwiper-inner-02{margin: 50px 0 80px;}
.HotelShillaList{width: 100%;margin: 80px 0;padding: 80px 0;background: #f1ead8;}
.Project{margin: 80px 0;}
.Growth{margin: 80px 0;}
/* contain */
.MapTabs .MapTabsWrap{position: relative;}
.MapTabs .Tabs, .Intro {overflow: hidden;position: absolute;display: flex;align-items: center;justify-content: center;list-style: none;width: 100%;z-index: 1;}
.MapTabs .Tabs li:first-child a::before{display: none;}
.MapTabs .MapTab, .IntroTab{display: none;}
.MapTabs ul.Tabs li.on a{color: #9d8c78;}
.MapTabs .MapTab.on, .IntroTab.on{display: block;}
.IntroBar{position: relative;top: 43px;z-index: 1;height: 1px;background: #e5e5e5;}
.IntroWrap .Intro{position: relative;}
.IntroWrap .Intro li a {display: flex;}
.IntroSwiper .swiper-container{width: 1200px;padding-bottom: 23px;margin: 50px auto;}
.IntroSwiper .swiper-pagination{bottom: 0;font-size: 15px;color: #999;text-align: right;}
.IntroSwiper .swiper-pagination-current{color: #101010;font-weight: bold;}
.IntroSwiper .swiper-pagination-total{color: #999;}
.IntroSwiper .swiper-button-prev{top: 50%;left: 0px;transform: translateY(-50%);margin: 0;position: absolute;z-index: 10;width: 60px;height: 65px !important;background: url(https://www.shilla.net/images/ko/jeju/main/slidePrev.png) no-repeat 0px 0px;text-indent: -9999%;overflow: hidden;margin-top: -28px;}
.IntroSwiper .swiper-button-next{top: 50%;right: 0px;transform: translateY(-50%);margin: 0;position: absolute;z-index: 10;width: 60px;height: 65px !important;background: url(https://www.shilla.net/images/ko/jeju/main/slideNext.png) no-repeat 0px 0px;text-indent: -9999%;overflow: hidden;margin-top: -26px;}
/* button */
.HotelDevelop .btnSet{display: flex;justify-content: center;height: unset;margin: 80px 0 150px;}
.HotelDevelop .btnSet li{width:174px !important;margin-right: 10px;}
/* 공통 main.css 푸터부분 수정 css */
.foot .localBox .linkInfo .introduction dd{margin: 0 !important;}
.foot .localBox .linkInfo .introduction dd.d2 a{width: 133px !important;}
.foot .localBox .linkInfo .introduction dd.d3 a{width: 92px !important;}
.foot .localBox .linkInfo .introduction dd.d8 a{width: 78px !important;}
.foot .localBox .linkInfo .introduction{background: url(./images/en/hub/sub/HublocalBoxLinkInfo.gif) no-repeat 0px 0 !important;width: 410px !important;left: 438px !important;top: 46px !important;height: 13px !important;}
.foot .localBox .linkInfo .inquiries::before{content: '';width: 1px;height: 50px;background: #e8e3ce;position: absolute;top: 6px;left: -30px;}
.foot .localBox .linkInfo .ContactInfo{width: 410px !important;}
.foot .localBox .linkInfo .ContactInfo::after{content: '';width: 1px;height: 50px;background: #e8e3ce;position: absolute;top: 0;right: 0;}
.foot .localBox .linkInfo .ContactInfo dd{width: 410px !important;}
/* 이미지 히든 텍스트 */
.hidden{display: none;}
.hidden table{text-align: left;}

