.mt20{margin-top: 20px !important;}
.pt40{padding-top: 40px !important;background: #f7f7f7 !important;}

.contain.new-pc{padding: 0;}
/* .new-con img{width: 100%;} */
.new-con{
    margin: 0 auto;
    width: 1920px;
}
.map_tab .tab_wrap{position: relative;}
.map_tab .tab, .intro {overflow: hidden;position: absolute;display: flex;align-items: center;justify-content: center;list-style: none;width: 100%;}
.map_tab .tab li:first-child a::before{display: none;}
.map_tab .map-tab, .intro-tab{display: none;}
.map_tab ul.tab li.on a{color: #9d8c78;}
.map_tab .map-tab.on, .intro-tab.on{display: block;}
.intro_wrap .intro{position: relative;border-bottom: 1px solid #e5e5e5;}
.intro_wrap .intro li a {display: flex;}
.intro_swiper .swiper-container{margin: 0 15%;padding-bottom: 23px;}
.intro_swiper .swiper-pagination{bottom: 0;font-size: 15px;color: #999;text-align: right;}
.intro_swiper .swiper-pagination-current{color: #101010;font-weight: bold;}
.intro_swiper .swiper-pagination-total{color: #999;}
.intro_swiper .swiper-button-prev{top: 50%;left: 0px;transform: translateY(-50%);margin: 0;position: absolute;z-index: 10;width: 60px;height: 94px !important;background: url(https://www.shilla.net/images/ko/jeju/main/slidePrev.png) no-repeat 0px 0px;text-indent: -9999%;overflow: hidden;}
.intro_swiper .swiper-button-next{top: 50%;right: 0px;transform: translateY(-50%);margin: 0;position: absolute;z-index: 10;width: 60px;height: 94px !important;background: url(https://www.shilla.net/images/ko/jeju/main/slideNext.png) no-repeat 0px 0px;text-indent: -9999%;overflow: hidden;}
.new-con .btnSet{display: flex;justify-content: center;height: unset;margin-bottom: 150px;}
.new-con .btnSet li{width:unset;margin-right: 10px;}

/* 공통 main.css 푸터부분 수정 css */
.foot .localBox .linkInfo .introduction dd{margin: 0 !important;}
.foot .localBox .linkInfo .introduction dd.d3 a{width: 77px !important;}
.foot .localBox .linkInfo .introduction dd.d8 a{width: 130px !important;}
.foot .localBox .linkInfo .introduction{background: url(./images/en/hub/sub/HublocalBoxLinkInfo.gif) no-repeat 0px 0 !important;width: 403px !important;left: 438px !important;top: 46px !important;height: 13px !important;}
.foot .localBox .linkInfo .inquiries::before{content: '';width: 1px;height: 50px;background: #e8e3ce;position: absolute;top: 6px;left: -30px;}
.foot .localBox .linkInfo .ContactInfo{width: 410px !important;}
.foot .localBox .linkInfo .ContactInfo::after{content: '';width: 1px;height: 50px;background: #e8e3ce;position: absolute;top: 0;right: 0;}
.foot .localBox .linkInfo .ContactInfo dd{width: 410px !important;}