.contain.HotelDevelop{padding-top: 0;}

.SubVisual{overflow: hidden;position: relative;height: 650px;}
.SubControl{position: relative;left: 50%;margin: 0 0 0 -960px;width: 1920px;}

.HotelDevelopMap{width: 100%;padding-top: 40px;background: #f7f7f7;}
.HotelDevelopInfo, .OurBrands, .ShillaSwiper, .HotelDevelopMapTab, .HotelShilla, .Project, .HotelDevelopBtn{position: relative;width: 1200px;margin: auto;}
.HotelShillaList{width: 100%;padding-top: 40px;background: #f7f7f7;background: #f1ead8;}
.Concept{margin-top: 20px !important;}

.MapTabs .MapTabsWrap{position: relative;}
.MapTabs .Tabs, .Intro {overflow: hidden;position: absolute;display: flex;align-items: center;justify-content: center;list-style: none;width: 100%;z-index: 1;}
.MapTabs .Tabs li:first-child a::before{display: none;}
.MapTabs .HotelDevelopMapTab, .IntroTab{display: none;}
.MapTabs ul.Tabs li.on a{color: #9d8c78;}
.MapTabs .HotelDevelopMapTab.on, .IntroTab.on{display: block;}
.IntroWrap .Intro{position: relative;border-bottom: 1px solid #e5e5e5;}
.IntroWrap .Intro li a {display: flex;}
.IntroSwiper .swiper-container{padding-bottom: 23px;}
.IntroSwiper .swiper-pagination{bottom: 0;font-size: 15px;color: #999;text-align: right;}
.IntroSwiper .swiper-pagination-current{color: #101010;font-weight: bold;}
.IntroSwiper .swiper-pagination-total{color: #999;}
.IntroSwiper .swiper-button-prev{top: 50%;left: 0px;transform: translateY(-50%);margin: 0;position: absolute;z-index: 10;width: 60px;height: 94px !important;background: url(https://www.shilla.net/images/ko/jeju/main/slidePrev.png) no-repeat 0px 0px;text-indent: -9999%;overflow: hidden;}
.IntroSwiper .swiper-button-next{top: 50%;right: 0px;transform: translateY(-50%);margin: 0;position: absolute;z-index: 10;width: 60px;height: 94px !important;background: url(https://www.shilla.net/images/ko/jeju/main/slideNext.png) no-repeat 0px 0px;text-indent: -9999%;overflow: hidden;}
.HotelDevelop .btnSet{display: flex;justify-content: center;height: unset;margin-bottom: 150px;}
.HotelDevelop .btnSet li{width:unset;margin-right: 10px;}

/* 공통 main.css 푸터부분 수정 css */
.foot .localBox .linkInfo .introduction dd.d3 a{width: 77px !important;}
.foot .localBox .linkInfo .introduction{background: url(./images/ko/hub/sub/HublocalBoxLinkInfo.gif) no-repeat 0px 0 !important;}



