/* .main_img{height: 380px;} */
.new-mo{} 
.new-mo img{
    margin: 0 auto;
    width: 100%;
}
.contain.new-pc{padding: 0;}
.new_con img{width: 100%;}
.map_tab .tab_wrap{
    position: relative;
}
.map_tab .tab, .intro {
    list-style: none;
    margin: 39px auto;
    padding: 0px;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #f7f7f7;
}
.map_tab .tab li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 10px 25px 10px 0;
    color: #454545;
}
.map_tab .tab li a::before{
    content: '';
    background: #cbcbcb;
    width: 1px;
    height: 14px;
    margin-right: 25px;
}
.map_tab .tab li:first-child a::before{
    display: none;
}
.map_tab .map-tab, .intro-tab{
    display: none;
}
.map_tab ul.tab li.on a{
    color: #9d8c78;
}
.map_tab .map-tab.on, .intro-tab.on{
    display: block;
}
.map_tab .map-tab img, .intro-tab img{
    width: 100%;
}



.intro_wrap .intro{
    list-style: none;
    margin: 0 auto;
    padding: 0px;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}
.intro_wrap .intro li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #999;
    padding: 20px 0;
    width: 216px;
}
.intro_wrap .intro li.on a {
    color: #9d8c78;
    border-bottom: 4px solid #83766e;
}

.intro_swiper .swiper-container{
    height: fit-content;
    margin: 0 5%;
}
.intro_swiper .swiper-con{
    overflow: hidden;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.intro_swiper .swiper-pagination{
    font-size: 15px;
    color: #fff;
}
.intro_swiper .swiper-button-prev{
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    margin: 0;
    position: absolute;
    z-index: 10;
    width: 60px;
    height: 94px !important;
    background: url(https://www.shilla.net/images/ko/jeju/main/slidePrev.png) no-repeat 0px 0px;
    text-indent: -9999%;
    overflow: hidden;
}
.intro_swiper .swiper-button-next{
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    margin: 0;
    position: absolute;
    z-index: 10;
    width: 60px;
    height: 94px !important;
    background: url(https://www.shilla.net/images/ko/jeju/main/slideNext.png) no-repeat 0px 0px;
    text-indent: -9999%;
    overflow: hidden;
}


/* 모바일 */
@media all and (orientation: portrait) {
.new-mo {text-align: center;}
.txt_box{padding-bottom:40px;}
.txt_box dt{
    padding: 60px 0 15px;
    font-size: 20px;
    font-weight: bold;
    line-height: 15px;
    color: rgb(34, 34, 34);
    letter-spacing: -0.4px;
    word-spacing: -0.6px;
}
.txt_box dd.desc{
    padding: 10px 0 20px;
    color: rgb(153, 153, 153);
}
.txt_box dd{
    font-size: 16px;
    line-height: 24px;
    letter-spacing:-0.6px;
    word-spacing: 0.6px;
    color: rgb(102, 102, 102);
}
/* .intro-tab .txt_box {
    padding-bottom:50px;
} */
.intro-tab .txt_box dt{
padding-bottom: 0;
}

.m5p{margin: 0 5% !important;}
.p0{margin: 0 30px !important;}
.pb20{padding-bottom: 20px !important;}
.pb25{padding-bottom: 25px !important;}
.pb40{padding-bottom: 40px !important;}


.bar_con::before{
    content: '';
    background: url(./images/ko/hub/sub/bar.jpg) center no-repeat;;
    width: 100%;
    height: 14px;
    position: absolute;
    top: 0;
    left: 0;
}
.bar_con{
    position: relative;
    margin-top: 60px;
    padding-top: 50px;
}
.intro_swiper.mo .swiper-con{
    width: unset;
    height: 324px;
    padding: 0 30px;
}

.intro_swiper.mo .intro_wrap .intro{
    justify-content: space-around;
    border: 0;
}
.intro_swiper.mo .intro_wrap .intro li a{
width: unset;
padding:0;
line-height: 1.1;
}
.intro_swiper.mo .intro_wrap .intro li.on  a{
    color: rgb(123, 100, 78);
    border-bottom: 2px solid #83766e;
}
.intro_swiper.mo .swiper-button-prev{
    left: 0;
    width: 30px;
    height: 55px !important;
    margin-top: 0;
    background: url(https://www.shilla.net/images/ko/jeju/main/gao_left_arrow.png) no-repeat;
    background-size: 30px 55px;
}
.intro_swiper.mo .swiper-button-next{
    right: 0;
    width: 30px;
    height: 55px !important;
    margin-top: 0;
    background: url(https://www.shilla.net/images/ko/jeju/main/gao_right_arrow.png) no-repeat;
    background-size: 30px 55px;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev,
.intro_swiper.mo .swiper-button-prev:after,
.intro_swiper.mo .swiper-button-next:after{
    display: none;
}
.bar_con.beige{
    padding-top: 0;
    padding-bottom: 60px;
    background: rgb(241, 234, 215);
}

.lh24{
    line-height: 24px !important;
}
.new-mo .confirmBox{
    padding: 0 15px 100px;
}

}